# WHAT IS PYTHON??WHAT IS PYTHON LANGUAGE??WHY WE USE THIS??

Python is a computer programming language developed by 'GUIDO VAN ROSSUM' often used to build websites and softwares, automate takes and conduct data analysis originally released in 1991.

Python has a simple syntax similar to the English language,designed to be easy as well as fun.

Python is easy to understand lauguage that feels like reading simple english.This persue code 
nature of python makes it easy to learn and understandable for beginners.

Python is an HIGH LEVEL general purpose PROGRAMING LANGUAGE and is DYNAMICALLY TYPED , which works with OR in an IDE(Integrated Development Enviroment).
 
WRITE LESS, DO MORE : Python has syntax that allows developers to write programs with fewer lines than some other programming languages.That means prototyping can be very quick. 

Python provides larger developer community, or open-source community for strong ,supportand helpful documentation.

It offers a wide range of libraries that can be used across various applications.For example:Numpy, SciPY , Keras and Seaborn.

# WHAT IS PROGRAMMING???

* Just like we use hindi and english to communicate with each other, we use a progrmming language 
  like python to communicate witth the computer.
  Programming is a way to instruct the computer to perform various tasks.

# HOW TO WRITE YOUR FIRST PYTHON PROGRAM

* Use the print() funtion and write a message. print function gives an output of the input you give to   the python in its language.
* In python,strings are enclosed inside single quotes,double quotes,or triple quotes.
  * PROGRAM: print("HELLO,world")
  * OUTPUT: HELLO,world

# SYNTAX

* Syntax is a structure of language or a set of rules that defines how a python program will be 
  written and interpreted.

# WHAT IS A STATEMENT IN PYTHON??

* A statement is an instrution that a python interpreter can execute. So, in simple words,we 
  can say anything written in python is a statment.
* In python, we can add MULTIPLE statements on a single line seprated by semicolons, as follows:
  * TWO STATEMENTS IN A SINGLE LINE:
    1 = 2 ; B = 6
    print("area of rectangle:" l*b)

# COMMENTS IN PYTHON

* Comments are used to write something which the programmer does not want to excute.Comments can be used to mark the author's name, data , etc

# OPERATORS IN PYTHON

* There are some common operators in python :
  * ARITHMETRIC OPERATIONS(+,-,*,/)
  * ASSIGNMENT OPERATERS(=,+=,=+,==)
  * FLOOR DIVISION(//)
  * MODULE OPERATION(%)
  * POWER(**)
  * LOGICAL OPERATERS(help,import,and)

# DATA TYPES

* There are two types of data: Primitive or Non-Primitive data type.
* In which Primitive data has its own three types:(Numbers,String,None)
  * NUMBER: 1. INTEGER
            2. FLOAT
            3. COMPLEX
            4. BOOLEAN

In [1]:
7 # THIS IS AN INTEGER

7

In [2]:
7.8 # THIS IS AN FLOAT

7.8

In [3]:
78j # THIS IS AN COMPLEX

78j

In [1]:
False # THIS IS AN BOOLEAN

False

# TYPE FUNCTION

* Type function is used to find the data type of a given variable in python.

In [5]:
type("9")

int

In [6]:
type(9.9)

float

In [7]:
type(99j)

complex

In [8]:
type(True)

bool

# HOW TO FIND AN CODE ADDRESS(ID)

* LETS UNDERSTAND IT BY AN EXAMPLE:

In [3]:
a = 29               # we maked an variable by giving it an value
b = 29               # the second variable 
c = b                # and the third one, which we can also write as (a =b = c),
print(id(a))         # cause the values are same.
print(id(b))
print(id(c))
"""to find the id addresss of the code we use (id()) function to get an code address, therefore,
this denotes that in which container, whrere or in which id the code is stored."""

1958250546288
1958250546288
1958250546288

'to find the id addresss of the code we use (id()) function to get an code address, therefore,\nthis denotes that in which container, whrere or in which id the code is stored.'

# VARIABLES

* A VARIABLES IS A CONTAINER THAT STORES DATA IN THE MEMORY OF YOUR CCOMPUTER.

* SYNTAX - variable_name = data_to_be_stored.

## RULES OF VARIABLE IN PYTHON

* A variable name must start with an alphabet or an underscore.
* A variable name cannot start with a number or any special character (#,@,%,^,&).
* A variable name can only contain alphabets, numbers and underscores.
* The use of special character is prohibited.
* Variable names are case sensitive in python.
* Python keywords cannot be used as variable names.

In [9]:
abc = 1

In [22]:
python@gmail = 65 # not a variable because there is an special character.

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (565179728.py, line 1)

In [10]:
_5njh = 1

In [11]:
xyz@ = 1

SyntaxError: invalid syntax (2619681554.py, line 1)

In [13]:
_vhkj = 7

In [14]:
x = 77

In [15]:
print(x)

77

# EXPRESSIONS

* EXPRESSIONS ARE THE PIECE OF CODES( MUST INCLUDES OPERATER AND OPERANDS)THAT EVALUTES THE VALUES.(+,-,*,=)

In [18]:
a = "mobile"
b = "phone"
a+b

'mobilephone'

In [20]:
print("icu"+"cpu") # the merging of two str is called as cancatenation.

icucpu

In [21]:
print('abc') # not an expression because there is no operater

abc

# TYPE CASTING

* Type casting converts one data to another data type. (int(),float(),complex(),str(),list(),tuple(),dict(),set(

In [23]:
a = 10
float(a)

10.0

In [24]:
x = 56.89
int(x)

56

In [25]:
p = 8
bool(p)

True

In [26]:
type(int("1")) # type is used to find the data type of the given data.

int

In [27]:
print(float(a))

10.0

# ESCAPE SEQUENCES

- ( \\' = SINGLE SLASH )
* ( \n = NEW LINE )
* ( \\\ = BACKSLASH )
* ( \b = BACKSPACE )
* ( \t = TAB )
* ( \r = CARRIAGE RETURN )

In [28]:
print('hi, everyone ! \'my name is bhumi\'')

hi, everyone ! 'my name is bhumi'

In [29]:
print('\'notebook saved\'')

'notebook saved'

In [30]:
print('\'python\'') # here by using single slash we can print python with an single quoets to get an highlighted output

'python'

In [31]:
print('''python''') # by putting three single quotation marks it will became an doc strings.

python

In [32]:
print("""PYTHON
      Data Science""")

PYTHON
      Data Science

In [33]:
print("\n") # by printing \n we have the output with the space given by \n .

In [34]:
print("\\n") # to print \n we have to use backslash

\n

In [35]:
print("\nabc")

abc

In [36]:
print('\'\n\'')

'
'

In [37]:
print("\\b")

\b

In [38]:
print("myself :\tbhumi") # using tab escape sequence

myself :	bhumi

In [39]:
print('\tcar \tbrands\t = \tsupraa\t')

	car 	brands	 = 	supraa

In [40]:
print("helloo\b")

helloo

In [2]:
print("namee\b")

namee

In [3]:
print("my name is moon\r my name is bh")

 my name is bh

In [4]:
print("my name is rohit\rmy name is mohit")

my name is mohit

In [42]:
x = """ my name is \     
bhumi"""
print(x)

 my name is \
bhumi

In [43]:
print("the topic is about \'type castings\'\b,\t\'escape sequences\'")

the topic is about 'type castings',	'escape sequences'

# INPUT IN PYTHON
 
*  In python using the input() function, we take input from the user and using the print() function ,we display the output on the screen . (Any data given in input is string.)

In [7]:
name = input("aura name : ")

aura name : bhni

In [45]:
name = input(" enter your name : ")
print("hello," + name + "! nice to meet you")

 enter your name : BHUMI
hello,BHUMI! nice to meet you

In [1]:
name = input(" total no. of students : ")
print(" science students " + name + " in the class ")

 total no. of students : 56
 science students 56 in the class

In [2]:
name = input("student name :")
age = input("student age :")
address = input("student address :")
parents = input("father's name :")
feild = input("student stream :")

print("\n")
print("name",name)
print("age", age)
print("address" , address)
print("parents" , parents)
print("feild", feild)
print(name,age,address,parents,feild)

student name :REYANSH
student age :5
student address :HALDWANI
father's name :MR,RAJEEV SHARMA
student stream :COMMERCE


name REYANSH
age 5
address HALDWANI
parents MR,RAJEEV SHARMA
feild COMMERCE
REYANSH  5 HALDWANI MR,RAJEEV SHARMA COMMERCE

In [3]:
x  = input("even number :") # the output which is givem here is an the part of concatination.
y = input("odd number :")
z = x+y # HERE THE INPUT GIVEN BY THE USER IS AN STRING SO THE OPERATER WILL OPERATE AS AN CONCATINATION.
print(z)

even number :2
odd number :1
21

In [4]:
q = input("values given : ")
print(type(float(q)),type(int(q)),type(complex(q)))

values given : 67
<class 'float'> <class 'int'> <class 'complex'>

In [5]:
h = float(input("no. of products sold"))
print("type is :" , type(h))

no. of products sold77544
type is : <class 'float'>

In [6]:
flowers = complex(input(" name of flowers : "))
print("\n")
print("name of flower :" , name )

 name of flowers : tulip

ValueError: complex() arg is a malformed string

In [8]:
flowers = complex(input(" name of flowers : "))
print("\n")
print("name of flower :" , flower )

 name of flowers : 67

NameError: name 'flower' is not defined

In [11]:
a = (float(input("user id:")))
print("\n"), print("user id:", a )
class : a

SyntaxError: invalid syntax (476155978.py, line 3)

print escape sequence