











































# functions are thr block of codes defined with a name

DRY-- Do Not Repeat Yourself
functions provide reuseability of code.

# Types of Functions

1. Built-in Functions or Predefined Functions
2. User-defined functions

# Creating a function

In [1]:
def first_fuction():
    print("data science is amazing")
first_fuction()   #fuction is called

data science is amazing

# Creating a Function with Parameters

In [2]:
def first_fuction(x):
    print("data science is amazing")
    print(x)
first_fuction(24)   #fuction is called

data science is amazing
24

In [23]:
#function inside a function

In [17]:



def first_func():
    print("hello")
first_func()
def second_func():
    print("how are you?")
second_func()
print("life is precious")

hello
how are you?
life is precious

In [8]:
def first_func(x):
    print(x)
#first_func(9)
def second_func(y):
    print(y)
second_func(90)
first_func(8)

90
8

In [4]:
def first_func(x,y):
    print(x+y)
    print(x-y)
    print(x/y)
   # return None
first_func(12,2)

14
10
6.0

In [8]:
def first_func(x,y):
    print(x+y)
    print(x-y)
    print(x/y)
   # return None
type(first_func(12,2))
print(first_func(12,2))

14
10
6.0
None

In [9]:
def first_func(x,y):
    print(x+y)
    print(x-y)
    print(x/y)
   # return None
print(type(first_func(12,2)))
print(first_func(12,2))

14
10
6.0
<class 'NoneType'>
14
10
6.0
None

In [11]:
type('rahul')

str

In [12]:
type('rahul')
'rahul'

'rahul'

In [1]:
def first_func(x,y):
    print(x+y)
    print(x-y)
    print(x/y)
    return None
d=first_func(12,2)
print (d)

14
10
6.0
None

In [22]:
def first_func():
    print("hello")
def second_func():
    print("how are you?")
def third_func():
    print(100)
first_func()
second_func()
third_func()
print("life is precious")

hello
how are you?
100
life is precious

In [3]:
def second_function(x,y):
    print(x)
    print(y)
second_function("str",67)

str
67

In [4]:
def second_function(x,y):
    print(x+y)
    
second_function(50,67)

117

In [13]:
def second_function(x,y):
    print(x+y)
    print("hello")
second_function(50,67)

117
hello

In [5]:
def second_function(x,y):
    print(x+y)
    
second_function("ab","cd")

abcd

In [6]:
def second_function(x,y,z):
    print(x+y*z)
    
second_function(4,10,12)

124

In [27]:
#practice

In [26]:
def first_func(x):
    print(x)
def second_func(y):
    print(y)
first_func(15)
second_func("hi")
print("hello world")

15
hi
hello world

# Returning Value From a function

In [7]:
def calculator(x,y):
    a=x+y
    return a
b=calculator(23,45)
print(b)

68

In [8]:
def calculator(x,y):
    a=x+y
    return a
b=calculator(23,45)+2
print(b)

70

In [15]:
def calculator(x,y):
    a=x+y
    return a
calculator(23,45)

68

In [11]:
def calculator(x,y):
    a=x+y
    return a
calculator(23,45)
print("hello")

hello

In [24]:
def calculator(x,y):
    a=x+y
    return a
b=calculator(23,45)*2
print(b)
print("hello")
print("python")

136
hello
python

In [25]:
def my_func(x,y):
    print("we are adding numbers")
    a=x+y
    return a
    print("hello world")
my_func(12,23)

we are adding numbers

35

In [27]:
def func():
    print("xyz")
x=func()
print(x)

xyz
None

In [28]:
print(print("hello"))                     #none is been returned 
                                          #print func is returning none

hello
None

In [36]:
#None is never printed in the output
print("hello")

hello

In [37]:
None

In [38]:
print(None)                            #if we write it then it will come

None

In [1]:
print

In [2]:
print(print(print(print)))

<built-in function print>
None
None

In [9]:
print(print(print(print())))

None
None
None

In [3]:
print()

In [4]:
print(id(print(id("hello"))))

2062118772016
140710296579776

In [29]:
def func(a):
    print("xyz")
    print(a)
x=func(78)
print("the value of x is",x)

xyz
78
the value of x is None

In [31]:
def func(a):
    print("xyz")
    print(a)
    return None
x=func(78)
print("the value of x is",x)

xyz
78
the value of x is None

In [35]:
def func(a):
    print("xyz")
    print(a)
    return a                          #return 12 or any no then the output will be that num
x=func(78)
print("the value of x is",x)

xyz
78
the value of x is 78

In [8]:
def func(a):
    print("xyz")
    print(a)
    print(a-23)
    return
x=func(45)
print("the value of x",x)

xyz
45
22
the value of x None

In [6]:
def func(a):
    print("xyz")
    print(a)
    print(a-23)
    return a
x=func(45)
print("the value of x",x)

xyz
45
22
the value of x 45

In [1]:
print("h")

h

In [2]:
type("h")

str

In [3]:
type(print("h"))  #print always returns none(print datatype-none)
                     #return works as replacing

h

NoneType

In [ ]:
def print_a(a):
    print(a)
    return None
print_a("hello world")

In [5]:
def add(a,b):
    sum=a+b
    print(sum)
add(45,78)

123

In [6]:
#print function has returned the value that is none
def add(a,b):
    sum=a+b
    print(sum)
print (add(45,78))

123
None

In [7]:
#print function has returned the value that is none
def add(a,b):
    sum=a+b
    return sum
print (add(45,78))

123

In [8]:
None

In [9]:
print(None)

None

In [10]:
def add(a,b):
    sum=a+b
print(add(45,78))

None

In [11]:
print(add(10,12)*2)

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [12]:
print(print("h"))

h
None

In [13]:
print(print(print("h")))

h
None
None

# Returning multiple values from a Function

In [1]:
a,b=("hello",67)
print(a)
print(b)

hello
67

In [4]:
def calculator(a,b):
    sum=a+b
    diff=a-b
    product=a*b
    div=a/b
    return sum,diff,product,div           #returns the value in the form of a tuple
x=calculator(10,2)
print(x)

(12, 8, 20, 5.0)

In [5]:
def calculator(a,b):
    sum=a+b
    diff=a-b
    product=a*b
    div=a/b
    return sum,diff,product,div           #returns the value in the form of a tuple
a,b,c,d=calculator(10,2)
print(a,b,c,d)

12 8 20 5.0

In [6]:
def calculator(a,b):
    sum=a+b
    diff=a-b
    product=a*b
    div=a/b
    return sum,diff,product,div           #returns the value in the form of a tuple
p,q,r,s=calculator(10,2)
print(p,q,r,s)

12 8 20 5.0

In [19]:
y=calculator(8,4)           #print 32

print(y)

(12, 4, 32, 2.0)

In [18]:
y[2]

NameError: name 'y' is not defined

# Using Docstring in Functions
Single line docstring

In [ ]:
#brief description or its a type of comment

In [19]:
def show_result():
    """Let us understand docstrings""" #func is not been called
    print("This is a test program")

In [20]:
def show_result():
    """Let us understand docstrings""" #func is not been called
    print("This is a test program")
show_result()

This is a test program

In [21]:
show_result.__doc__

'Let us understand docstrings'

In [22]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [23]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understand docstrings

# Multi-line docstring

In [27]:
def show_result():
    """Let us understand docstrings
    
    I am using this function to understand about docstrings
    Docstrings are used to document functions"""
    print("This is a test program")

In [28]:
print(show_result.__doc__)

Let us understand docstrings

    I am using this function to understand about docstrings
    Docstrings are used to document functions

In [26]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understand docstrings

    I am using this function to understand about docstrings
    Docstrings are used to document functions

In [30]:
def show_result():
     print("This is a test program")
    """Let us understand docstrings
    
    
    I am using this function to understand about docstrings
    Docstrings are used to document functions"""

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [31]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understand docstrings

    I am using this function to understand about docstrings
    Docstrings are used to document functions

In [32]:
#local variable- inside a block

# Scope of variables

In [33]:
t= "python"                      #global
def scope_var():
    u="analytics"                 #local
    print("T is",t)
scope_var()
print("the value of t is",t)
print("the value of u is",u)

T is python
the value of t is python

NameError: name 'u' is not defined

In [36]:
t= "python"
u="analytics"
def scope_var():
    u="analytics"                 
    print("T is",t)
scope_var()
print("the value of t is",t)
print("the value of u is",u)                  #global variable

T is python
the value of t is python
the value of u is analytics

In [34]:
t= "python"                                     #globql variable
u="analytics"                                   #global variable u
def scope_var():
    u="Data science"                            #local variable u
    print(u)
    print("T is",t)
scope_var()
print("the value of t is",t)
print("the value of u is",u)                      #global variable u

Data science
T is python
the value of t is python
the value of u is analytics

In [37]:
t= "python"                                     #globql variable
u="analytics"                                   #global variable u
def scope_var():
    print("value of u inside function before declaring it as local is",u)
    u="Data science"                            #local variable u
    print(u)
    print("T is",t)
scope_var()
print("the value of t is",t)
print("the value of u is",u)                      #global variable u
                                     #global

UnboundLocalError: local variable 'u' referenced before assignment

# Global variable

In [38]:
#creating a global variable inside a function
def test_global():
    global x 
    x=78
    print("x inside function is",x)
test_global()
print("x outside function is",x)

x inside function is 78
x outside function is 78

In [39]:
#creating a global variable inside a function
def test_global():
    global x 
    x=78
    print("x inside function is",x)
#test_global()
print("x outside function is",x)

x outside function is 78

In [40]:
#creating a global variable inside a function
def test_global():
    global x= 78
    print("x inside function is",x)
test_global()
print("x outside function is",x)

SyntaxError: invalid syntax (2891703237.py, line 3)

In [41]:
t= "python"                                     #globql variable
u="analytics"                                   #global variable u
def scope_var():
    global u
    u="Data science"                            #local variable u
    print(u)
    print("T is",t)
scope_var()
print("the value of t is",t)
print("the value of u is",u)                      #global variable u

Data science
T is python
the value of t is python
the value of u is Data science

In [ ]:
#make a function inside a function

In [42]:
num=int(input("enter any number"))
fac=1
if num<0:
    print("no factorial")
if num==0:
    print("factorial is 1")
if num>1:
    for i in range(1,num+1):
        fac=fac*i
print("the factorial of a given num is",fac)

enter any number5
the factorial of a given num is 120

In [2]:
#value inside parameter is temporary

In [3]:
def show_result():
    global a
    a=10
    sum=a+78
    print(sum)
show_result()
print(a)

88
10

In [5]:
def show_result():
    global a
    a=10
    sum=a+78
    print(sum)

print(a)

10

In [6]:
def show_result():
    global a
    a=10
    print(a)
    sum=a+78
    print(sum)
show_result()

10
88

In [7]:
def show_result():
    global a
    a=10
    sum=a+78
    print(sum)
print(a)
show_result()

10
88

In [9]:
x="hello world"
def print_result():
    x="hi"
    print(x)
print(x)
print_result()

hello world
hi

In [10]:
x="hello world"
def print_result():
    x="hi"
    print(x)

print_result()
print(x)

hi
hello world

# Non local variables

In [1]:
#last outer()will be called firstly because of indentation
def outer():
    w=89 #defined for inner func also  #local variable for outer
    def inner():
        w=67  #local variable for innerh
        print(w)
    inner()
    print(w)
outer()

67
89

In [13]:
w=89
def inner():
    w=67
    print(w)
    inner()

print(w)

89

In [4]:
   #global variable for outer
    def inner():
        w=67  #local variable for inner
        print(w)
        inner()
    print(w)

IndentationError: unexpected indent (246953560.py, line 2)

In [9]:
def inner():
    w=67
    print(w)
    inner()
print(w)

89

In [1]:
#last outer()will be called firstly because of indentation
def outer():
    w=89 #defined for inner func also  #local variable for outer
    def inner():
       # w=67  #local variable for inner
        print(w)
    inner()
    print(w)
outer()

89
89

In [21]:
#last outer()will be called firstly because of indentation
def outer():
   #
w=89 #defined for inner func also  #local variable for outer
    def inner():
        nonlocal w
        w=67  #local variable for inner
        print(w)
    inner()
    print(w)
outer()

67
67

In [5]:
#firstly fun will call the outer one the value will become 89 then the inner func will be called and it will print the value 
#67 and because of non local variable the value of outer will change to 67
def outer():
    w=89 
    def inner():
        nonlocal w 
        w=67 
        print(w)
    inner()#2nd call
    print(w)
outer()#1st call

67
67

In [6]:
def outer():
    #w=2
    #x=12
    def inner():
        nonlocal x
        #w="str"
        
        x=23
        print(x)
    inner()
    print(x)
outer()

SyntaxError: no binding for nonlocal 'x' found (4253494252.py, line 5)

In [7]:
#parameters vs arguments
def my_func(x,y):  #here x and y are parmeters( value passed while defining a func inside a parameter)
    return x+y
my_func(45,67)    #here 45 and 67 are arguments(value passed while calling up a func)

112

# PYTHON FUNCTION ARGUMENTS

# 
   1. Positional argument
   2. Keyword argument
   3. Default argument
   4. Variable-length argument

Positional arguments

In [ ]:
def my_func(): #eg of positional argument
    pass
my_func(56)     #pass is used because break and continue are used only for loop    #no parameter is written

In [8]:
def calc(p,q):
    diff=p-q
    return diff
calc(89,45)

44

In [9]:
calc(45,89)

-44

In [10]:
calc(89,45,56)

TypeError: calc() takes 2 positional arguments but 3 were given

In [11]:
def calc(q,p):
    diff=p-q
    return diff
calc(89,45)

-44

In [12]:
calc(45,89)

44

# KEYWORD ARGUMENTS
.Values get assigned to the parameters by their name(keyword)
. Here the order of the argument does not matter.

In [13]:
def calc(p,q):
    diff =p-q
    return diff
calc(p=10,q=2)

8

In [14]:
calc(q=2,p=10)

8

In [15]:
calc(a=10,b=2)

TypeError: calc() got an unexpected keyword argument 'a'

# default arguments
take the default value during the fuction call if we do not pass them

In [ ]:
#no argument or max 1

In [16]:
def get_argument(msg="hello world"):
    print(msg)
get_messsage("hi")

NameError: name 'get_messsage' is not defined

In [17]:
def get_argument(msg="hello world"):
    print(msg)
get_messsage("hi","hello")

NameError: name 'get_messsage' is not defined

In [18]:
def get_message(msg="hello world"):
    print(msg)
get_message("Hi")

Hi

In [19]:
get_message()

hello world

In [20]:
def get_message(msg):#nothing is written in argument
    print(msg)
get_message()

TypeError: get_message() missing 1 required positional argument: 'msg'

In [21]:
def get_message(msg="hello world",q=35):
    print(msg)
get_message("Hi")

Hi

In [22]:
def get_message(msg="hello world",q=35):
    print(msg,q)
get_message()

hello world 35

In [24]:
def get_message(msg,q=35):
    print(msg,q)
get_message()

TypeError: get_message() missing 1 required positional argument: 'msg'

In [25]:
def get_message(msg,q=35): #msg=parameter, q=35 default argument
    print(msg,q)
get_message("hi",q=78) #hi= positional argument, q=78 keyword argument

hi 78

In [4]:
def first_func(x):
    print(x)  
    def second_func(y):
        print(y)
    second_func(90)
first_func(10)
print("hello world")

10
90
hello world

In [14]:
def first_func(x):
    print(x)
 def second_func(y):
        print(y)
    second_func("hi")
         def third_func(x+y):
            print(x+y)
        third_func() 
    
first_func(10)
print("hello world")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

Variable-length arguments or Arbitary Arguments
When we need to pass multipe arguments to the function, we can use variable length arguments

In [8]:
#arbitary positonal arguments
def testing(*numbers):  #numbers is a tuple
    print(numbers)
    diff=20
    for x in numbers:
        diff=diff-x
    print(diff)
testing(9,4,12)

(9, 4, 12)
-5

In [ ]:
def my_func(x,y):
    pass

In [11]:
dict={"a":1,"b":2,"c":3}
print(dict)

{'a': 1, 'b': 2, 'c': 3}

In [9]:
#arbitary keyword arguments
def my_func(**key_word):  #key_word is a dictationary
    print(key_word)
    for sub in key_word:#iterating the value 
        print(sub)
        #get argument value
        sub_marks= key_word[sub]
        print(sub,"=",sub_marks)
#pass multiple keyword arguments
my_func(math=56, english=61, science=73)

{'math': 56, 'english': 61, 'science': 73}
math
math = 56
english
english = 61
science
science = 73

In [ ]:
def testing():
    testing()
testing()

In [ ]:
def testing(x):
    if x==10:
        return "hello world"
    return testing(x-1)
testing(15)

In [3]:
age=int(input("enter your age"))
if age<10:
    print('yes')
else:
    print("no")
print("hello")

enter your age10
no
hello

# Recursion

A recusive function is a function that call itself, again and again

In [ ]:
def my_func():
    my_func
my_func():

In [2]:
def factorial(no):
    if no==0:
        return 1
    else:
        return no*factorial(no-1)
print("factorial of number is:", factorial(4))

factorial of number is: 24

# Lambda Function(anonymous)

used fir instant and one time use
written in just ones line

In [ ]:
#lambda parameters : expression

In [8]:
lambda : print("hello world")

In [13]:
(lambda : print("hello world"))()

hello world

In [14]:
(lambda x,y: print(x+y)) (10,5)

15

In [ ]:
#functions
# 1. filter(functions,iterable)

In [1]:
list(filter(lambda x : x%2==0,(1,2,3,4,5,6)))

[2, 4, 6]

In [2]:
list(filter(lambda x : None ,(1,2,3,4,5,6)))

[]

In [3]:
list(filter(lambda x : True ,(1,2,3,4,5,6)))

[1, 2, 3, 4, 5, 6]

In [4]:
list(filter(lambda x : 0 ,(1,2,3,4,5,6)))

[]

In [5]:
list(filter(lambda x : 67 ,(1,2,3,4,5,6)))

[1, 2, 3, 4, 5, 6]

In [6]:
(lambda x : x%2==0)(8)

True

In [9]:
(filter(lambda x: x%2==0,(1,2,3,4,5,6)))

In [10]:
filter(lambda y,x,z : if (y==0)print(y), (0,1,2))

SyntaxError: invalid syntax (1062752645.py, line 1)

In [13]:
(lambda : print ("hello world"))()
def fun_ (y,z):
    print(1+6)
    print(y+z)
    print(y*z)
    print(y/z)
    print(2+2)
fun_(37,28)
(lambda : print("hello world"))()
fun_ (67,39)

hello world
7
65
1036
1.3214285714285714
4
hello world
7
106
2613
1.7179487179487178
4

In [ ]:
# map (functions,iterable)
# Takes a function as a a first argument and applies it to each of the element of the iterable

In [14]:
list1 = [2,3,4,8,9]
list2 = list (map(lambda x: x+2 , list1))
print("Result is :", list2)

Result is : [4, 5, 6, 10, 11]

In [15]:
list1 = [2,3,4,8,9]
list2 = list (map(lambda x: "data science", list1)) #it will replace the value
print("Result is :", list2)

Result is : ['data science', 'data science', 'data science', 'data science', 'data science']

In [ ]:
x='rohan'