In [1]:
#build a calculator
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
z=int(input("Enter the operation +,-,*,/"))
if z== '+':
    print (x+y)
elif z=='-':
    print(x-y)
elif z=='*':
    print (x*y)
else:
    print(x/y)

Enter the first number

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#make a calculator
n1=int(input("enter n1 :"))
n2=int(input("enter n2 :"))
print("press \'1\' for Addition:")
print("press \'2\' for Subraction:")
print("press \'3\'for Multiplication:")
print("press \'4\' for Division:")
opp=int(input("Enter operation:"))

if opp==1:
    print(n1+n2)
elif opp==2:
    if n1>n2:
        print(n1-n2)
    else:
        print(n2-n1)
elif opp==3:
    print(n1*n2)
elif opp==4:
    if n1>n2:
        print(n1/n2)
    else:
        print(n2/n1)
else:
    print("Invalid selection,please choose correct operation")

In [ ]:
a=45
if a/5:
    print('yes')
else:
    print('no')

In [ ]:
a=45
if a==45:
    print('yes')
else:
    print('no')

In [ ]:
#key is immutable and value can be mutable or immutable both
#roll no of students
students={1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x=int(input("students:"))
students[x]

In [ ]:
#add one more roll no
students={1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x=int(input)

In [1]:
#printing pattern
f=list(range(int(input())))
for i in f:
    g=str(i)
    print(i*g)

9

1
22
333
4444
55555
666666
7777777
88888888

In [ ]:
#table of any nymber
t=int(input('enter the number:'))
w=1,2,3,4,5,6,7,8,9,10
for e in w:
    print(t,'*',e,'=',t*e)

In [2]:
#display number divisible by 5 from a list
x=[5,12,14,16,30]
if x%5==0:
    print("divisible by 5:")

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [ ]:
#enter the value in a dictationary and key should be printed
students={1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}

In [ ]:
#write a code to display names of 10 students through their roll number
a=int(input('enter a no between 0 and 11:'))
if a ==1:
    print('rishi')
elif a==2:
    print('rohit')
elif a==3:
    print('gaurav')
elif a==4:
    print('bhumika')
elif a==5:
    print('rahul')
elif a==6:
    print('divya')
elif a==7:
    print('varun')
elif a==8:
    print('karan')
elif a==9:
    print('varun')
else:
    print('vicky')

In [ ]:
x=input()
if x==8:
    print('x is',x)
elif x==10:
    print('x is',x)
else:
    print('x is not 10')

In [ ]:
x=int(input())
if x==8:
    print('x is',x)
elif x==10:
    print('x is',x)
else:
    print('x is not 10')

In [ ]:
x=10
if x==8:
    print('x is',x)
else:
    print('x is not 10')
elif x==10:
    print('x is',x)

In [ ]:
x=10
if x==8:
    print('x is',x)
else:
    print('x is not 10')
if x==10:
    print('x is',x)

# nested if else

In [6]:
x=eval (input())
print(x)

type(x)

"hello"
hello

str

In [ ]:
x=int(input("value of x"))
y=int(input("value of y"))
z=int(input("value of z"))
if x>y:
    if x>z:
        print("x>y>z")
        else:
            print()

# loops
Loops are used to execute a block of code repeatedly.

FOR LOOP
The for loop iterates over an iterable object.

1.for loops are used when you havw a block of code which you want to repeat a fixed number of times.<br>
2 for loops are also used to perform the same set of operations
for each item in an iterable
3.Thus, for lopps reduce the code complexity and saves time.

In [7]:
# string,list,tuple dictationary,sets,range - iterable data types
x=[1,2,3,4]
for a in x:
    print(a)
print("value of a",a)

1
2
3
4
value of a 4

In [8]:
x=list(range(0,4))
print(x)

[0, 1, 2, 3]

In [ ]:
x=range(0,4)
print(x[0])
print(x[1])
print(x[2])
print(x[3])

In [ ]:
y = range(0,4)
for x in y:
    print(x)

In [ ]:
y = range(0,4)
for x in y:
    print(x)

In [ ]:
y = list(range(1,4,2))
for x in y:
    print(x)

In [ ]:
for x in [True,"six",9]:
    print(x)

In [9]:
#print sum of all even numbers from 1 to 10
sum=0
for x in range(2,11,2):
    sum=sum+x
print(sum)

30

In [ ]:
#table of 2 
for i in range (1,11):
    print(f" 2*{i}={2*i}")

In [10]:
sum=0
for i in range (1,11):
    if i%2==0:
        sum=sum+i
print("sum of all even numbers",sum)

sum of all even numbers 30

In [ ]:
sum=0
for i in range (1,11):
    if i%2==0:
        sum=sum+i
    print("sum of all even numbers",sum)

In [ ]:
sum=0
for i in range (1,11):
    if i%2==0:
        sum=sum+i
    print("hello",sum)

In [ ]:
#ask the user for the range from which the sum of the even numbers should be printedr
#eg. 10 to 20, 60 to 1000 , 70 to 80
r=int(input("start"))
e= int(input("stop"))
sum=0
for q in range(r,e+1,2):
    if q%2==0:     #if ko remove
        sum= sum+ q
print(sum)

In [ ]:
#square each number inside a list and finally print it
x=[1,2,3,4]
square=[a**2]
for  a in x:
    print("square numbers",square)


for i in x:
    square=i*

# if-else in for loop

In [23]:
#classify numbers from 1 to 100 as even or odd
for i in range(1,101):
    if i%2==0:
        print(i,"no is even")
    else:
        print(i,"no is odd")

1 no is odd
2 no is even
3 no is odd
4 no is even
5 no is odd
6 no is even
7 no is odd
8 no is even
9 no is odd
10 no is even
11 no is odd
12 no is even
13 no is odd
14 no is even
15 no is odd
16 no is even
17 no is odd
18 no is even
19 no is odd
20 no is even
21 no is odd
22 no is even
23 no is odd
24 no is even
25 no is odd
26 no is even
27 no is odd
28 no is even
29 no is odd
30 no is even
31 no is odd
32 no is even
33 no is odd
34 no is even
35 no is odd
36 no is even
37 no is odd
38 no is even
39 no is odd
40 no is even
41 no is odd
42 no is even
43 no is odd
44 no is even
45 no is odd
46 no is even
47 no is odd
48 no is even
49 no is odd
50 no is even
51 no is odd
52 no is even
53 no is odd
54 no is even
55 no is odd
56 no is even
57 no is odd
58 no is even
59 no is odd
60 no is even
61 no is odd
62 no is even
63 no is odd
64 no is even
65 no is odd
66 no is even
67 no is odd
68 no is even
69 no is odd
70 no is even
71 no is odd
72 no is even
73 no is odd
74 no is even
75 no is odd
76 no is even
77 no is odd
78 no is even
79 no is odd
80 no is even
81 no is odd
82 no is even
83 no is odd
84 no is even
85 no is odd
86 no is even
87 no is odd
88 no is even
89 no is odd
90 no is even
91 no is odd
92 no is even
93 no is odd
94 no is even
95 no is odd
96 no is even
97 no is odd
98 no is even
99 no is odd
100 no is even

In [ ]:
#table of 10
x=int(input("enter a number"))
for i in range(1,11):
    print(f"x*{i}={x*i}")

# NESTED FOR LOOPS

In [ ]:
#Print the ,ultiplication table of two

for x in range(1,11):
    print(2, "X", x,"=",x*2)

In [ ]:
range(1,5)

In [ ]:
#print the multiplication table of 2,3,4,5,6,7
for x in range(1,11):
    print(2,"x",x,"=",x*2)
    if x>=10:
        for x in range(1,11):
            print(3,"x",x,"=",x*3)
        for x in range(1,11):
            print(4,"x",x,"=",x*4)
        for x in range(1,11):
            print(5,"x",x,"=",x*5)
        for x in range(1,11):
            print(6,"x",x,"=",x*6)
        for x in range(1,11):
            print(7,"x",x,"=",x*7)

In [ ]:
for x in range(1,11):
    for i in range(2,8):
        print(i,"x",x,"=",x*i)

In [ ]:
print("hello")
print("world")

In [ ]:
print("hello",end=" ")
print("python")

In [ ]:
x= "*"
for a in x:
    print(a)
    for a in x:
        print(a)
    for a in x:
        print(a)

In [ ]:
x=range(5)
for a in x:
    print("*")

In [ ]:
for x in range(5):
    print("*")

In [ ]:
for i in range(6):
    print("*"*i)

In [ ]:
for x in range(6):
    for y in range(1,x+1):
        print("*",end="")
    print()

In [ ]:
for x in range(6):
    for y in range(1,x+1):
        print("*",end=" ")
    print()

In [ ]:
for i in range(6):
    print("*" *i)

In [ ]:
for x in range(6):
    for y in range(6,0,-1):
        print("*",end=" ")
    print()

# for loop in one line

In [ ]:
list=[]
for x in range(0,4): list.append(x)
print(list)

# Transfer statements

break
The break statement is used to terminate the loop instantly when it is encountered.

In [ ]:
for x in range(1,5):
    if x>3:
        break
    print(x)
print("hello world")

In [ ]:
for x in range(3):
    for y in range(4):
        for z in range(5):
            if z>2:
                print("i am breaking it")
                break
        print(z)

In [ ]:
#here it breaks the innermost loop
for x in range(3):
    for y in range(4):
        if y>2:
            print("i am breaking it")
            break
        print(y)

In [ ]:
for x in range(3):
    for y in range(4):
        for z in range(5):
            if z>2:
                print("i am breaking it")
                break
            print(z)

# CONTINUE

The continue statement skips the current iteration of the loop and jumps to the next iteration. #break and continue will only woek for loop

In [ ]:
for x in{1,2,3,4}:
    print(x)

In [ ]:
for x in{1,2,3,4}:
    if x==3:
        continue
    print(x)
    print("python")

In [ ]:
for x in range(5): #print func written after continue won't work
    print(x)
    continue
    print(x+1)

In [ ]:
for x in range(5):
    print(x)
    continue

# PASS

Pass statement does nothing. It is used to create an empty block that may be useful in the future.

In [ ]:
for x in range(10):
    pass

In [ ]:
for t in range(4):
    continue

In [ ]:
for x in range(5):
    pass
    print("hello")

In [ ]:
for t in range(4):
    continue
    print("big data")

In [ ]:
for q in range(4):
    if q==3:
        pass
    print(q)

In [ ]:
for q in range(4):
    if q==3:
        continue
    print(q)

In [ ]:
y=6
if y>4:
    pass
print("xyz")

In [ ]:
y=6                                             #continue is applicable for loop only
if y>4:
    continue
print("xyz")

In [ ]:
y=6                                             #break is applicable for loop only
if y>4:
    break
print("xyz")

# WHILE LOOP

Works till a condition is true.
used for indefinite iterations.

In [ ]:
#stop when the condition becomes false
x=9
while x<15:
    print(x)
    x=x+1

In [ ]:
#stop when the condition becomes false
x=9
while x<15:
    print(x)
    x=x+1

In [ ]:
y=2
while y<15:
    print(y)
    y=y+15

In [ ]:
x=10
while x>20:
    print(x)
print("hello")

In [ ]:
i=1
while i<4:
    list=[1,2,3]
    x=1
    print(list)
    while list!=[]:
        list.remove(x)
        print(list)
        x= x+1
    i=i+1

In [ ]:
#take a positive integer (3-digit) as input from the user.
#check whether the given no is armstrong no.
#eg. 153= 1**3+5**3+3**3
#    407= 4**3+0**3+7**3

In [ ]:
#take a positive integer as input from the user. Find the factorial of that number
#eg. factorial of 4= 1*2*3*4
#factorial of 0= 1

In [ ]:
x=1,4,3
x[0]**3+x[1]**3+x[2]**3

In [ ]:
#printing pattern
f=list(range(int(input("enter a number"))))
for i in f:
    g=str(i)
    print(i*g)

In [ ]:
"2"+"2"

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

In [ ]:
#printing pattern
f=range(int(input("enter a number")))
for i in f:
    g=str(i)
    print(i*g)

In [ ]:
i=3
g=str(i)
print(i*g)

In [ ]:
g=str(3)
print(3*g)

In [ ]:
2*str(2)

In [ ]:
2*'2'#integer * string = no will be printed the no of times the value of a string

In [ ]:
3*'3'

In [ ]:
i=2
g=str(i)
print(2*g)

In [ ]:
g=str(3)
print(g)

In [ ]:
str(3)*4 #multiplying it will repeat the string i no of times

In [28]:
num=input("enter any number")
sum=0
for i in num:
    sum+=int(i)**3
if sum==int(num):
    print("it is an armstrong no")
else:
    print("not an armstrong no")

enter any number170
not an armstrong no

In [30]:
#build

x=input("enter 1st no")
y=input("enter 2nd no")
z=input("enter the operation +,-,*,/")
if z== '+':
    print (x+y)
elif z=='-':
    print(x-y)
elif z=='*':
    print (x*y)
else:
    print(x/y)

enter 1st no
enter 2nd no
enter the operation +,-,*,/+