In [ ]:
import pandas as pd

### Series

Pandas series objects are generally created from the following data types.-

1.  Scalar
2.  ndarray
3.  Dictationary
4.  List

pd.Series(data,index,dtype)

In [ ]:
#creating from scalar value
x=pd.Series("string")
x

In [ ]:
#Creating from an ndarray
import numpy as np
arr= np.array([1,2,3,4,5])
series1= pd.Series(arr)
print(series1)

In [ ]:
#Creqtinfg from a dictationary
#Keys of the dictationary become the index 
dict_= {"a":1,"b":2,"c":3,"d":4}
series3= pd.Series(dict_)
print(series3)

Let's provide the index also

In [ ]:
x= pd.Series(["Welcome","to","vijAI"], index=["a","b","c"])
x

In [ ]:
x= pd.Series(["Welcome","to","vijAI"], index=["a","b","c",4,5])
x

In [ ]:
x= pd.Series(["welcome","to","vijAI"], index=[1,2,3])
x

Important operations

Data alignment is intrinsic

Using NumPy functions or Numpy operations, such as filtering with a Boolean array and scalar multiplication will preserve the index-value link.

In [ ]:
import pandas as pd

In [ ]:
#Boolean Series
y=pd.Series([1,2,3,4,5,6,7,8])
y>=4   #This gives a boolean series

In [ ]:
y[y>=4]

In [ ]:
#Multiplying by a scalar
y*3

In [ ]:
np.sqrt(y)

In [ ]:
y+3

In [ ]:
y-3

In [ ]:
y/3

In [ ]:
y%3

In [ ]:
y//2

In [ ]:
y+4

In [ ]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([7,8,9,])

In [ ]:
a+b            #NaN= not a number(missing value)

In [ ]:
s=pd.Series(("a","b","c"))
j=pd.Series(("d","e","f"))

In [ ]:
s+j

In [ ]:
s=pd.Series(("1","b","c"))
j=pd.Series(("d","e","f"))

In [ ]:
s+j

In [ ]:
s=pd.Series(("aab","b","c"))
j=pd.Series(("d","ehjd","fsoe"))

In [ ]:
s+j

In [ ]:
r=pd.Series(("aa",1,"hello"))
p=pd.Series(("hdhd",8,"python"))

In [ ]:
r+p

In [ ]:
r=pd.Series(("aa",1,56.9))
p=pd.Series(("hdhd","zzzz","python"))

In [ ]:
r+p

In [ ]:
x=pd.Series([1,2,3,4],index= ["a","b","c","d"])
y=pd.Series([5,6,7,8],index= ["c","a","d","b"])          #this can't be done in arrays but in Series it can be done thats why data 
                                                        #alignment is intrinsic
x+y

In [ ]:
x=pd.Series([1,2,3,4],index= ["a","b","c","d"])
y=pd.Series([5,6,7,8],index= ["c","a","d",3])          #this can't be done in arrays but in Series it can be done thats why data 
                                                        #alignment is intrinsic
x+y

# Data Frame

Pandas DataFrame objects are generally created from the following data types:


1. ndarray
2. Dictionary
3. List
4. Series 
5. DataFrame

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
#Using ndarray
new_data= pd.DataFrame(np.array([[1,2,3,4,5],        #Can only create from 2nd and 1st array
                                [6,7,8,9,10]]))

In [ ]:
new_data

In [ ]:
#Using a list
x=pd.DataFrame([[1,2,3,4],[5,6,7,8]])
x

In [ ]:
#Using a dictionary
dict_dataframe= pd.DataFrame({"a":{1:"Welcome",2:"To"},"b":{1:"Hello",2:"Hi"}})
dict_dataframe

In [ ]:
dict_df=pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
print(dict_df)

In [ ]:
#Using a Series
series_df=pd.DataFrame(pd.Series({1:"a",2:"b",3:"c"}))
series_df

In [ ]:
#Using DataFrame
df=pd.DataFrame(dict_df)
df

In [ ]:
series_df+df                            #series+DataFrame

In [ ]:
#Using DataFrame
#df=pd.DataFrame(dict_df)
x=print(list(df))

In [ ]:
#Using ndarray
new_data= pd.DataFrame(np.array([[1,2,3,4,5],        #Can only create from 2nd and 1st array
                                [6,7,8,9,10]]))

In [ ]:
##### Using ndarray
new_data2= pd.DataFrame(np.array([[1,3,4,5],        #Can only create from 2nd and 1st array
                                [2,7,8,8]]))

In [ ]:
new_data+new_data2                       #DataFrame+DataFrame

In [ ]:
#Using ndarray
new_data= pd.DataFrame(np.array([[1,2,3,4,5],        #Can only create from 2nd and 1st array
                                [6,7,8,9,10]]))

In [ ]:
ser=pd.Series([1,2,3,4,5])
print(ser)

In [ ]:
ser=pd.Series([1,2])
print(ser)

In [ ]:
def+ser

# Essential Functionality

### Reindexing

An important method on pandas objects is reindex, which means to create a new object with values rearranged according to the new index

In [ ]:
import pandas as pd

In [ ]:
obj=pd.Series ([45,23,87,56], index=["d","c","b","a"])
obj

In [ ]:
obj2= obj.reindex(["a","b","c","d"])
obj2

In [ ]:
obj=pd.Series ([45,23,87,56], index=["d","c","b","a"])
obj

In [ ]:
# A Series's index can be altered in place by assignment:
obj.index=["a","b","c","d"]
obj

### with DataFrame, reindex can alter the index,columns, or both

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df=pd.DataFrame(np.arange(9).reshape((3,3)), index=["a","c","b"],columns=["Y","Z","X"])
df

   Y  Z  X
a  0  1  2
c  3  4  5
b  6  7  8

In [5]:
df= df.reindex(index=["a","b","c"],columns=["X","Y","Z"])
df

   X  Y  Z
a  2  0  1
b  8  6  7
c  5  3  4

In [10]:
df=pd.DataFrame(np.arange(9).resize((3,3)), index=["a","c","b"],columns=["Y","Z","X"])
df

     Y    Z    X
a  NaN  NaN  NaN
c  NaN  NaN  NaN
b  NaN  NaN  NaN

In [13]:
print(np.arange(9).resize(3,3))

None

In [14]:
print(np.arange(9).resize(3,4))

None

In [17]:
x=np.arange(9)
x.resize(3,4)      #error has not come because it has given the value 0
x

array([[0, 1, 2, 3],
       [4, 5, 6, 7],
       [8, 0, 0, 0]])

print(np.arange(9).reshape(3,4))         #(3,4)=3*4=12 and the no of elements are 9

In [16]:
print(np.arange(9).reshape(3,3))         #(3,4)=3*4=12 and the no of elements are 9

[[0 1 2]
 [3 4 5]
 [6 7 8]]

# Indexing, Selection and Filtering

### Indexing with Series

Series indexing works similar to NumPy array indexing, except you can use the Series's index values(lables) instead of only integers.

In [2]:
import pandas as pd